name: |
  Ensure static content builds successfully.

on:
  push:
    branches: ["**"]
    paths:
      - 'pills/**'
      - 'book.toml'
      - 'custom.css'
  pull_request:
    paths:
      - 'pills/**'
      - 'book.toml'
      - 'custom.css'
  schedule:
    - cron: '0 12 * * 6' # every saturday at noon (UTC)

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Install Nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          # nix_path: nixpkgs=channel:nixos-unstable
          nix_path: nixpkgs=channel:nixos-25.11
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Print nixpkgs version
        run: nix-instantiate --eval -E '(import <nixpkgs> {}).lib.version'
      - name: Build static sources
        run: nix-build -A html-split
