name: |
  Ensure static content builds successfully.
  In addition, we ensure that there is no broken link in the static content.

on:
  push:
    branches:
      - 'main'
      - 'feat/*'
      - 'fix/*'
  pull_request:
  schedule:
    - cron: '0 12 * * 6' # every saturday at noon (UTC)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 1
      - name: Install Nix
        uses: cachix/install-nix-action@526118121621777ccd86f79b04685a9319637641 # v31.3.0
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Print nixpkgs version
        run: nix-instantiate --eval -E '(import <nixpkgs> {}).lib.version'
      - name: Build static sources
        run: nix-build -A html-split
      - name: Check for broken links
        run: nix-shell --run "mdbook build"
