name: Pre-commit

on:
  schedule: # daily at 19:00 UTC
    - cron: '0 19 * * *'
  workflow_dispatch: # Allow manual trigger
  pull_request:
    branches: ["**"]

permissions: {}

jobs:
  pre-commit:
    name: pre-commit hooks
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run pre-commit hooks
        run: nix-shell --run "pre-commit run --all-files"
